<ul class="posts">
    <h3>Purchase as follow:</h3>
    <table class="styled-table" border="1" width="1000">
        <thead>
        <tr>
            <th>id</th>
            <th>user_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>
            <th>refund</th>
            <th>Put in storage</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchase_query %}

        <tr>
            <td width="50">
                {% if purchase.id %}
                {{ purchase.id | safe }}
                {% else %}
                {{ purchase.id }}
                {% endif %}
            </td>
            <td width="50">
                {% if purchase.user_id %}
                {{ purchase.user_id | safe }}
                {% else %}
                {{ purchase.user_id }}
                {% endif %}
            </td>
            <td width="100">
                {% if purchase.medicine_id %}
                {{ purchase.medicine_id | safe }}
                {% else %}
                {{ purchase.medicine_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if purchase.count %}
                {{ purchase.count | safe }}
                {% else %}
                {{ purchase.count }}
                {% endif %}
            </td>

            <td width="200">
                {% if purchase.timestamp %}
                {{ purchase.timestamp | safe }}
                {% else %}
                {{ purchase.timestamp }}
                {% endif %}
            </td>

            <td width="200">
                {% if purchase.return_goods %}
                {{ purchase.return_goods | safe }}
                {% else %}
                {{ purchase.return_goods }}
                {% endif %}

            </td>
            <td width="200">
                {% if purchase.have_storage %}
                {{ purchase.have_storage | safe }}
                {% else %}
                {{ purchase.have_storage }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</ul>


<ul class="posts">
    <h3>Refund goods as follow:</h3>
    <table class="styled-table" border="1" width="1000">
        <thead>
        <tr>
            <th>id</th>
            <th>purchase_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>

        </tr>
        </thead>
        <tbody>
        {% for return_goods_item in return_query %}
        <tr>
            <td width="200">
                {% if return_goods_item.id %}
                {{ return_goods_item.id | safe }}
                {% else %}
                {{ return_goods_item.id }}
                {% endif %}
            </td>
            <td width="200">
                {% if return_goods_item.purchase_id %}
                {{ return_goods_item.purchase_id | safe }}
                {% else %}
                {{ return_goods_item.purchase_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count }}
                {% endif %}
            </td>
            <td width="200">
                {% if return_goods_item.timestamp %}
                {{ return_goods_item.timestamp | safe }}
                {% else %}
                {{ return_goods_item.timestamp }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>


<ul class="posts">
    <h3>Storage as follow:</h3>
    <table class="styled-table" border="1" width="1000">
        <thead>
        <tr>
            <th>id</th>
            <th>purchase_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for storage_item in storage_query %}

        <tr>
            <td width="200">
                {% if storage_item.id %}
                {{ storage_item.id | safe }}
                {% else %}
                {{ storage_item.id }}
                {% endif %}
            </td>
            <td width="200">
                {% if storage_item.purchase_id %}
                {{ storage_item.purchase_id | safe }}
                {% else %}
                {{ storage_item.purchase_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if Purchase.query.filter_by(id=storage_item.purchase_id).first().count %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().count | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().count }}
                {% endif %}
            </td>

            <td width="200">
                {% if storage_item.timestamp %}
                {{ storage_item.timestamp | safe }}
                {% else %}
                {{ storage_item.timestamp }}
                {% endif %}
            </td>

        </tr>


        {% endfor %}
        </tbody>
    </table>
</ul>


<ul class="posts">
    <h3>Allocate as follow:</h3>
    <table class="styled-table" border="1" width="1000">
        <thead>
        <tr>
            <th>id</th>
            <th>purchase_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>

        </tr>
        </thead>

        <tbody>
        {% for allocate_item in allocate_query %}
        <tr>
            <td width="200">
                {% if allocate_item.id %}
                {{ allocate_item.id | safe }}
                {% else %}
                {{ allocate_item.id }}
                {% endif %}
            </td>
            <td width="200">
                {% if allocate_item.receiver %}
                {{ allocate_item.receiver | safe }}
                {% else %}
                {{ allocate_item.receiver }}
                {% endif %}
            </td>
            <td width="200">
                {% if allocate_item.medicine_id %}
                {{ allocate_item.medicine_id | safe }}
                {% else %}
                {{ allocate_item.medicine_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if allocate_item.count %}
                {{ allocate_item.count | safe }}
                {% else %}
                {{ allocate_item.count }}
                {% endif %}
            </td>

            <td width="200">
                {% if allocate_item.timestamp %}
                {{ allocate_item.timestamp | safe }}
                {% else %}
                {{ allocate_item.timestamp }}
                {% endif %}
            </td>

        </tr>


        {% endfor %}
        </tbody>
    </table>
</ul>


<br>
<br>
<br>
<br>
<br>
