<ul class="posts">
    <table class="styled-table" border="1" width="750">
        <thead>
        <tr>
            <th>id</th>
            <th>receiver_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for allocate_item in allocate_items %}
        <tr>
            <td width="100">
                {% if allocate_item.id %}
                {{ allocate_item.id | safe }}
                {% else %}
                {{ allocate_item.id }}
                {% endif %}
            </td>
            <td width="150">
                {% if allocate_item.receiver %}
                {{ allocate_item.receiver | safe }}
                {% else %}
                {{ allocate_item.receiver }}
                {% endif %}
            </td>
            <td width="200">
                {% if allocate_item.medicine_id %}
                {{ allocate_item.medicine_id | safe }}
                {% else %}
                {{ allocate_item.medicine_id }}
                {% endif %}
            </td>
            <td width="150">
                {% if allocate_item.count %}
                {{ allocate_item.count | safe }}
                {% else %}
                {{ allocate_item.count }}
                {% endif %}
            </td>

            <td width="350">
                {% if allocate_item.timestamp %}
                {{ allocate_item.timestamp | safe }}
                {% else %}
                {{ allocate_item.timestamp }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>
