<ul class="posts">
    <table class="styled-table" border="1" width="950">
        <thead>
        <tr>
            <th>id</th>
            <th>user_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>
            <th>refund</th>
            <th>Put in storage</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}

        <tr>
            <td width="50">
                {% if purchase.id %}
                {{ purchase.id | safe }}
                {% else %}
                {{ purchase.id }}
                {% endif %}
            </td>
            <td width="100">
                {% if purchase.user_id %}
                {{ purchase.user_id | safe }}
                {% else %}
                {{ purchase.user_id }}
                {% endif %}
            </td>
            <td width="150">
                {% if purchase.medicine_id %}
                {{ purchase.medicine_id | safe }}
                {% else %}
                {{ purchase.medicine_id }}
                {% endif %}
            </td>
            <td width="100">
                {% if purchase.count %}
                {{ purchase.count | safe }}
                {% else %}
                {{ purchase.count }}
                {% endif %}
            </td>

            <td width="300">
                {% if purchase.timestamp %}
                {{ purchase.timestamp | safe }}
                {% else %}
                {{ purchase.timestamp }}
                {% endif %}
            </td>

            <td width="100">
                {% if purchase.return_goods %}
                {{ purchase.return_goods | safe }}
                {% else %}
                {{ purchase.return_goods }}
                {% endif %}

            </td>
            <td width="150">
                {% if purchase.have_storage %}
                {{ purchase.have_storage | safe }}
                {% else %}
                {{ purchase.have_storage }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>
