<ul class="posts">
    <table class="styled-table" border="1" width="750">
        <thead>
        <tr>
            <th>id</th>
            <th>purchase_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>

        </tr>
        </thead>
        {% for return_goods_item in return_goods_items %}
        <tbody>
        <tr>
            <td width="50">
                {% if return_goods_item.id %}
                {{ return_goods_item.id | safe }}
                {% else %}
                {{ return_goods_item.id }}
                {% endif %}
            </td>
            <td width="150">
                {% if return_goods_item.purchase_id %}
                {{ return_goods_item.purchase_id | safe }}
                {% else %}
                {{ return_goods_item.purchase_id }}
                {% endif %}
            </td>
            <td width="150">
                {% if Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().medicine_id }}
                {% endif %}
            </td>
            <td width="100">
                {% if Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=return_goods_item.purchase_id).first().count }}
                {% endif %}
            </td>
            <td width="300">
                {% if return_goods_item.timestamp %}
                {{ return_goods_item.timestamp | safe }}
                {% else %}
                {{ return_goods_item.timestamp }}
                {% endif %}
            </td>

        </tr>


        {% endfor %}
        </tbody>
    </table>
</ul>
