<ul class="posts">
    <table class="styled-table" border="1" width="750">
        <thead>
        <tr>
            <th>id</th>
            <th>purchase_id</th>
            <th>medicine_id</th>
            <th>count</th>
            <th>timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for storage_item in storage_items %}
        <tr>
            <td width="100">
                {% if storage_item.id %}
                {{ storage_item.id | safe }}
                {% else %}
                {{ storage_item.id }}
                {% endif %}
            </td>
            <td width="150">
                {% if storage_item.purchase_id %}
                {{ storage_item.purchase_id | safe }}
                {% else %}
                {{ storage_item.purchase_id }}
                {% endif %}
            </td>
            <td width="200">
                {% if Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().medicine_id }}
                {% endif %}
            </td>
            <td width="150">
                {% if Purchase.query.filter_by(id=storage_item.purchase_id).first().count %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().count | safe }}
                {% else %}
                {{ Purchase.query.filter_by(id=storage_item.purchase_id).first().count }}
                {% endif %}
            </td>

            <td width="350">
                {% if storage_item.timestamp %}
                {{ storage_item.timestamp | safe }}
                {% else %}
                {{ storage_item.timestamp }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>
